{% extends 'tienda/layouts/main.html' %}

{% block content %}
<div class="py-3 bg-primary">
<div class="container">
    <a style="text-decoration: none;" class="text-white" href="{%url 'home' %}">Home /</a>
    <a style="text-decoration: none;" class="text-white" href="{%url 'categorias' %}">Categorias /</a>

</div>

</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h1>Categorias</h1>
                <hr>
                <div class="row">
                    {% for item in categoria %}
                    <div class="col-md-3">                       
                                <div class="card">
                                    <a href="{% url 'categoriasview' item.slug %}">
                                <div class="card-body">    
                                <div class="category-image">
                                    <h4 class="text-center">{{ item.nombreCategoria}}</h4>
                                </div>
                                <img class="w-100" src="{{ item.imagenCategoria.url}}" alt="imagen categoria"/>
                            </div>
                        </a>
                    </div>
                   
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>



{% endblock content %}

